
body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #96C5AA;
}

.quem-somos{
    background-color: black;
    color: white;
}

.margin{
        padding-bottom: 50px;
        padding-top: 10px;
}

.parceiros{
    background-color: #BBB4B0;
}

.bg-footer{
    background-color: black;
    color: white;
}